.all{
    background-image: url("images/DSC_0058.JPG");
}

#mainTitle{
    text-align: center;
    color: white;
    font-size: 400%;
}

.menu{
    text-align: center;
    margin-top:  10px;
    margin-bottom: 20px; 
    /* margin-bottom: 25px;
    border: solid  black 1px;
    background-color: #fbfdff;*/
}

.menu  a{
    background-color: rgb(0, 0, 0);
    font-size: 2em;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    margin: 1%;
    border-radius: 5px;
    }

/* use this to remove the buttons from .hide and .show
 find(".lb-prev, .lb-next").hide()): */

.galleryDiv{
    margin: auto;
    /* border: 3px solid green;
    background-color: rgb(13, 22, 13); */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

.galleryDiv img{
    width: 20%;
    transition: 0.1s;
    border-radius: 5px;
    margin: 0.4%;
    border: 3px solid rgb(255, 255, 255);
    /* border-radius: 10px;
    
    max-width: 50%;
    height: auto; */
}

#smallPic:hover{
    transform: scale(1.3);
}