.all{
    background-image: url("images/DSC_0058S.jpg");
    margin: 0%;
    font-family: 'Ubuntu';
}

#mainTitle{
    /* background-image: url(images/DSC_1557S.jpg); */
    /* background-image: url(images/DSC_1636S.jpg); */
    background-image: url(images/DSC_1743S.jpg);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
    padding-bottom: 1%;
    background-size: cover;
    background-position-y: 51%;
    text-shadow: 3px 1px black ;

}



.menu{
    text-align:center;
    border: solid  black 1px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 1%;

}

.menu  a{
    /* background-color: rgb(0, 0, 0); */
    font-size: 20px;
    text-decoration: none;
    /* background-color: aqua; */
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 1%;
    border-radius: 5px;
    }

/* use this to remove the buttons from .hide and .show
 find(".lb-prev, .lb-next").hide()): */

.galleryDivE{
    background-color: rgba(250, 235, 215, 0.103);
    border-radius: 15px;
    margin-bottom: 0.5%;
    /*background-color: rgb(13, 22, 13); */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

#galleryDivTitle{
    color: white;
    font-size: 22px;
}

#galleryDivP{
    margin: 10px 0px 10px 0px;
    color: white;
    font-size: 17px;
}
.galleryDiv{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(250, 235, 215, 0.103);
    border-radius: 15px;
    /*background-color: rgb(13, 22, 13); */
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    margin-bottom: 10%;
    
}

#introText{
    background-color: #000000ce;
    margin: 0px 10px 0px 10px;
    border-radius: 15px;
    padding: 10px;
}



/* 
.galleryDiv img{
    width: 48%;
    transition: 0.5s;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);

    border-radius: 10px;
    max-width: 50%;
    height: auto; 
} */


.textover{
    position: relative;
    width:50%;
    margin-bottom: 0.5%;
}

.textover img {
    transition: 1s;
    border-radius: 5px;
    width:98%;
    border: 2px solid rgba(255, 255, 255, 0);

}

.textover:hover img {
    transition: 1s;
    transform: scale(1.02);
    border: 2px solid rgb(255, 255, 255);
    
}
.textover p{
    transition: 1s;
    position: absolute;
    padding: 3px;
    bottom: 0;
    left: 0;
    font-size: 2vw;
    /* Cosmetics */
    box-sizing:border-box;
    color: rgba(255, 255, 255, 0);
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    transform: translate(21%, 0);
    
}

.textover:hover p{
    transition: 1s;
    position: absolute;
    padding: 3px;
    bottom: 0;
    left: 0;
    font-size: 2vw;
    /* Cosmetics */
    box-sizing:border-box;
    color: white;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
    transform: translate(21%, 0);
}