.all{
    background-image: url("images/DSC_0058S.jpg");
}

#mainTitle{
    background-image: url(images/DSC_1084Copy.JPG);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    font-size: 60px;
    padding-bottom: 1%;
    background-size: cover;
    background-position-y: 50%;
    text-shadow: 3px 1px black ;

}



.menu{
    text-align:center;
    border: solid  black 1px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 1%;

}

.menu  a{
    /* background-color: rgb(0, 0, 0); */
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 5px 5px;
    margin: 1%;
    border-radius: 5px;
    }
#titlesHome{
    color: rgb(247, 247, 247);
}

.Container{
    margin: 1%;
    background-color: rgba(250, 235, 215, 0.20);
    padding: 2%;
    display: flex;
    text-align: center;
    border-radius: 15px;
}

#picDiv, #phaDiv{
   flex-basis: 50%; 
}


#picDiv img{
    width: 80%;
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);

}

#phaDiv{
    margin: auto;
}
