.all{
    background-color: rgb(107, 59, 59);
    margin: 0%;
}

#mainTitle{
    background-image: url(images/Screenshotmanes.png);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    font-size: 60px;
    padding-bottom: 1%;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position-x: 100%;
    background-position-y: 30%;
    text-shadow: 3px 1px black ;

}



.menu{
    text-align:center;
    border: solid  black 1px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 1%;

}

.menu  a{
    /* background-color: rgb(0, 0, 0); */
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 5px 5px;
    margin: 1%;
    border-radius: 5px;
    }

.youtubeContainer{
    background-color: #ffffff;
    display: flex;
}

.youtube{
    flex-basis: 33%;
    background-color: rgb(255, 9, 9);
}

.youtube iframe{
    text-align: center;
    width: 100%;
}

#My_first_3D_videogame{
    
    text-align: center;
}

.fistContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.24);
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
}




.firstContainerText{
    padding: 0% 3% 0% 3%;
}

.Container3Pics{
    padding: 0% 3% 2% 3%;
    display: flex;
    text-align: center;
}

.Container3Pics img{
    width: 380px;
    margin: 1%;
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
}

.downloadContainer{
    text-align: center;
}

#DownloadTextButton{
    color: rgb(2, 2, 2);
    display: inline-flex;
    background-color: rgb(2, 96, 238);
    padding: 0.5%;
    border-radius: 5px;
}

.downloadContainer a:hover{
    color: rgb(211, 31, 31);
}
